@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Fredoka', sans-serif;
    @apply bg-slate-50 text-slate-800;
}